{% extends "_base.html" %}

{% block title %}
Blackjack
{% endblock %}

{% block body %}

<h1>Blackjack
  <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" style = "margin-left: 10px; background-color:#f84854;">
		Info
	</button>
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel" style = "font-size: 25px; color:#f84854;">Instructions for Blackjack</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" style = "font-size: 18px;">
					<h4 class = "text-info">The Basic Rules of Blackjack</h4>
          Also known as Twenty-One, the objective of Blackjack is to beat the dealer by getting as close to 21 as possible, without going over 21.
          A dealer shuffles the deck of 52 cards while the players make bets.
          <br><br>Some rules of the game are:<br><br>
          <ol>
            <li>Face cards are worth 10. Aces are worth 1 or 11, up to the discretion of the player, based on whatever value makes the bettter hand. All other cards
              are worth their number or pip value.</li>
            <li>Each player starts with two cards but the dealer's cards are hidden until the end.</li>
            <li>To "hit" is to ask for another card. To "stand" is to end your turn and keep the total sum you have.</li>
            <li>If your sum goes over 21, the dealer wins, regardless of their sum.</li>
            <li>Finally, if you get a face card and an ace card on your first hand, adding up to 21, you get a Blackjack!</li>
          </ol>
					<div class = "modal-footer">
						<h5>For a more comprehensive guide to Blackjack, you can visit <a href = "https://bicyclecards.com/how-to-play/blackjack/" target="_blank">this website</a>.</h5>
					</div>
					<br>
				</div>
			</div>
		</div>
	</div></h1><br />

{% if mode=="bet" %}
<!-- display form to place a bet -->
<form action="/blackjack" method="POST">
  <div class="form-group w-25">
    <label for="bet">Please place a bet (integer) that is at least $100:</label>
    <input
      name="bet" id="bet"
      type="number"
      class="form-control"
      value="100" min="100"
      />
  </div>
  <br />
  <button type="submit" class="btn" style="background-color:#f84854">Start Game</button>
</form>

{% endif %}

{% if mode=="play" %}
<!-- display ongoing game, hiding hole card, showing all others -->
<h6>Dealer's Cards</h6>
<img src="/static/cardback.jpg" height="314px" width="226px"/>
<img src={{game.dealer_cards[1].image}} />
<br><br><br>
<h6>Your Cards</h6>
{% for card in game.player_cards %}
<img src={{card.image}} />
{% endfor %}
<br /><br /><br />
<form action="/blackjack" method="POST">
  <button type="submit" name="hit" class="btn btn-primary">Hit</button>
  <button type="submit" name="stand" class="btn btn-primary">Stand</button>
</form>
<br />
<p class="font-italic">Note: if you have already hit, refreshing this page will be interpreted as a hit.</p>

{% endif %}

{% if mode=="end" %}
<!-- display win/loss, showing all cards and indicating who won -->
<h6> Dealer's Cards </h6>
{% for card in game.dealer_cards %}
<img src={{card.image}} />
{% endfor %}
{<h6> Your Cards </h6>
{% for card in game.player_cards %}
<img src={{card.image}} />
{% endfor %}
<br /><br /><br />
<input class="btn btn-link btn-primary text-decoration-none text-white" type="button" onclick="location.href='/home'" value="Go Home" />
<input class="btn btn-link btn-success text-decoration-none text-white" type="button" onclick="location.href='/blackjack'" value="Play Again" />
{% endif %}

{% endblock %}
