{% extends "_base.html" %}

{% block title %}
	Dice
{% endblock %}

{% block body %}
<h1>Dice
	<button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" style = "margin-left: 10px; background-color:#f84854;">
		Info
	</button>
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-info" id="exampleModalLabel" style = "font-size: 25px;">Instructions for Dice or "Sic Bo"</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" style = "font-size: 18px;">
					<h4 class = "text-success">The Basic Rules of Dice or "Sic Bo"</h4>
					Sic Bo is a game that requires no skill and relies primarily on chance, though there are said to be many strategies and techniques for winning the game.
					<br><br>The objective of the dice game is to bet on the outcome of the roll of three die. Players choose their chip size (the larger the chip, the bigger the bet)
					and place the chips on the areas of the Sic Bo table corresponding to the bet(s) they want to make. Multiple bets can be made on one roll of die. If you win,
					the payout prize corresponds with the rarity of the die outcome and the amount wagered.
					<br><br>
					In the case of The Black Diamond Casino online game of Sic Bo, players only need to enter a bet and select the boxes of the betting options they want to make, before clicking "Roll Dice."
					<br><br>
					<div class = "modal-footer">
						<h5>For a more comprehensive guide to Sic Bo and its betting combinations, you can visit <a href = "https://www.playsmart.ca/table-games/sic-bo/how-to-play/" target="_blank">this website</a>.</h5>
					</div>
					<br>
				</div>
			</div>
		</div>
	</div>
</h1>
<div class="w-100 p-3">
	<h4 class="text-success">Your Money: ${{ money }}</h4>
	{% if betting %}
  <form action="/dice" method="POST">
    <div class="form-group">
      <label for="bet">Please place a bet that is at least $100:</label>
      <input name="bet" type="number" class="form-control w-25"  min="100" id="bet" value=100>
    </div><br>
		<div class="form-check" style="width:85%;" id="options">
			<h4>Betting Options</h4><br>
			<div class="row">
				<div class="col">
					<input class="form-check-input" type="checkbox" value="small" name="options">
				  <label class="form-check-label">
						<div class="card">
						  <div class="card-body rounded" style="background-color:#ddd; color:black;">
						    <h3 style="color:#f84854">Small</h3>
								<p>Are numbers 4 to 10</p>
								<p><small> 1 wins 1 </small></p>
						  </div>
						</div>
				  </label>
				</div>
				<div class="col">
					<input class="form-check-input" type="checkbox" value="triple1" name="options" >
				  <label class="form-check-label">
						<div class="card">
						  <div class="card-body rounded" style="background-color:#ddd; color:black;">
								<h5 style="color:#f84854">Triple</h5>
								<p>Ones</p><br>
								<p><small> 1 wins 180 </small></p>
						  </div>
						</div>
				  </label>
				</div>
				<div class="col">
					<input class="form-check-input" type="checkbox" value="triple2" name="options" >
				  <label class="form-check-label">
						<div class="card">
						  <div class="card-body rounded" style="background-color:#ddd; color:black;">
								<h5 style="color:#f84854">Triple</h5>
								<p>Twos</p><br>
								<p><small> 1 wins 180 </small></p>
						  </div>
						</div>
				  </label>
				</div>
				<div class="col">
					<input class="form-check-input" type="checkbox" value="triple3" name="options" >
				  <label class="form-check-label">
						<div class="card">
						  <div class="card-body rounded" style="background-color:#ddd; color:black;">
								<h5 style="color:#f84854">Triple</h5>
								<p>Threes</p><br>
								<p><small> 1 wins 180 </small></p>
						  </div>
						</div>
				  </label>
				</div>
				<div class="col">
					<input class="form-check-input" type="checkbox" value="triple4" name="options" >
				  <label class="form-check-label">
						<div class="card">
						  <div class="card-body rounded" style="background-color:#ddd; color:black;">
								<h5 style="color:#f84854">Triple</h5>
								<p>Fours</p><br>
								<p><small> 1 wins 180 </small></p>
						  </div>
						</div>
				  </label>
				</div>
				<div class="col">
					<input class="form-check-input" type="checkbox" value="triple5" name="options" >
				  <label class="form-check-label">
						<div class="card">
						  <div class="card-body rounded" style="background-color:#ddd; color:black;">
								<h5 style="color:#f84854">Triple</h5>
								<p>Fives</p><br>
								<p><small> 1 wins 180 </small></p>
						  </div>
						</div>
				  </label>
				</div>
				<div class="col">
					<input class="form-check-input" type="checkbox" value="triple6" name="options" >
				  <label class="form-check-label">
						<div class="card">
						  <div class="card-body rounded" style="background-color:#ddd; color:black;">
								<h5 style="color:#f84854">Triple</h5>
								<p>Sixes</p><br>
								<p><small> 1 wins 180 </small></p>
						  </div>
						</div>
				  </label>
				</div>
				<div class="col">
					<input class="form-check-input" type="checkbox" value="big" name="options" >
				  <label class="form-check-label">
						<div class="card">
						  <div class="card-body rounded" style="background-color:#ddd; color:black;">
						    <h3 style="color:#f84854">Big</h3>
								<p>Are numbers 11 to 17</p>
								<p><small> 1 wins 1 </small></p>
						  </div>
						</div>
				  </label>
				</div>
			</div>
			<br>
			<div class="row" style="width:80%">
				<div class="col">
					<input class="form-check-input" type="checkbox" value="sum4" name="options">
					<label class="form-check-label">
						<div class="card">
						  <div class="card-body rounded" style="background-color:#ddd; color:black;">
								<h1 style="color:#f84854">4</h1>
								<p><small>1 wins 60</small></p>
						  </div>
						</div>
				  </label>
				</div>
				<div class="col">
					<input class="form-check-input" type="checkbox" value="sum5" name="options">
					<label class="form-check-label">
						<div class="card">
						  <div class="card-body rounded" style="background-color:#ddd; color:black;">
								<h1 style="color:#f84854">5</h1>
								<p><small>1 wins 20</small></p>
						  </div>
						</div>
				  </label>
				</div>
				<div class="col">
					<input class="form-check-input" type="checkbox" value="sum6" name="options">
					<label class="form-check-label">
						<div class="card">
						  <div class="card-body rounded" style="background-color:#ddd; color:black;">
								<h1 style="color:#f84854">6</h1>
								<p><small>1 wins 18</small></p>
						  </div>
						</div>
				  </label>
				</div>
				<div class="col">
					<input class="form-check-input" type="checkbox" value="sum7" name="options">
					<label class="form-check-label">
						<div class="card">
						  <div class="card-body rounded" style="background-color:#ddd; color:black;">
								<h1 style="color:#f84854">7</h1>
								<p><small>1 wins 12</small></p>
						  </div>
						</div>
				  </label>
				</div>
				<div class="col">
					<input class="form-check-input" type="checkbox" value="sum8" name="options">
					<label class="form-check-label">
						<div class="card">
						  <div class="card-body rounded" style="background-color:#ddd; color:black;">
								<h1 style="color:#f84854">8</h1>
								<p><small>1 wins 8</small></p>
						  </div>
						</div>
				  </label>
				</div>
				<div class="col">
					<input class="form-check-input" type="checkbox" value="sum9" name="options">
					<label class="form-check-label">
						<div class="card">
						  <div class="card-body rounded" style="background-color:#ddd; color:black;">
								<h1 style="color:#f84854">9</h1>
								<p><small>1 wins 6</small></p>
						  </div>
						</div>
				  </label>
				</div>
				<div class="col">
					<input class="form-check-input" type="checkbox" value="sum10" name="options">
					<label class="form-check-label">
						<div class="card">
						  <div class="card-body rounded" style="background-color:#ddd; color:black;">
								<h1 style="color:#f84854">10</h1>
								<p><small>1 wins 6</small></p>
						  </div>
						</div>
				  </label>
				</div>
			</div>
			<br>
			<div class="row" style="width:80%">
				<div class="col">
					<input class="form-check-input" type="checkbox" value="sum11" name="options">
					<label class="form-check-label">
						<div class="card">
							<div class="card-body rounded" style="background-color:#ddd; color:black;">
								<h1 style="color:#f84854">11</h1>
								<p><small>1 wins 6</small></p>
							</div>
						</div>
					</label>
				</div>
				<div class="col">
					<input class="form-check-input" type="checkbox" value="sum12" name="options">
					<label class="form-check-label">
						<div class="card">
							<div class="card-body rounded" style="background-color:#ddd; color:black;">
								<h1 style="color:#f84854">12</h1>
								<p><small>1 wins 6</small></p>
							</div>
						</div>
					</label>
				</div>
				<div class="col">
					<input class="form-check-input" type="checkbox" value="sum13" name="options">
					<label class="form-check-label">
						<div class="card">
							<div class="card-body rounded" style="background-color:#ddd; color:black;">
								<h1 style="color:#f84854">13</h1>
								<p><small>1 wins 8</small></p>
							</div>
						</div>
					</label>
				</div>
				<div class="col">
					<input class="form-check-input" type="checkbox" value="sum14" name="options">
					<label class="form-check-label">
						<div class="card">
							<div class="card-body rounded" style="background-color:#ddd; color:black;">
								<h1 style="color:#f84854">14</h1>
								<p><small>1 wins 12</small></p>
							</div>
						</div>
					</label>
				</div>
				<div class="col">
					<input class="form-check-input" type="checkbox" value="sum15" name="options">
					<label class="form-check-label">
						<div class="card">
							<div class="card-body rounded" style="background-color:#ddd; color:black;">
								<h1 style="color:#f84854">15</h1>
								<p><small>1 wins 18</small></p>
							</div>
						</div>
					</label>
				</div>
				<div class="col">
					<input class="form-check-input" type="checkbox" value="sum16" name="options">
					<label class="form-check-label">
						<div class="card">
							<div class="card-body rounded" style="background-color:#ddd; color:black;">
								<h1 style="color:#f84854">16</h1>
								<p><small>1 wins 20</small></p>
							</div>
						</div>
					</label>
				</div>
				<div class="col">
					<input class="form-check-input" type="checkbox" value="sum17" name="options">
					<label class="form-check-label">
						<div class="card">
							<div class="card-body rounded" style="background-color:#ddd; color:black;">
								<h1 style="color:#f84854">17</h1>
								<p><small>1 wins 60</small></p>
							</div>
						</div>
					</label>
				</div>
			</div>
      <br>
		</div>
		<br>
		<button type="submit" class="btn btn-lg" style="background-color:#f84854">Roll Dice</button>
		</form>
		{% else %}
		<div class="card w-50">
			<div class="card-body rounded" style="background-color:#ddd; color:black;">
				<h4>Betting Selection</h4>
				<p><small>Refresh to roll again with the exact same betting selection.</small></p>
				<b>You bet:</b> ${{ bet }} <br>
				<b>You selected:</b>
				{% for option in options %}
					<br>{{ option }}
				{% endfor %}
			</div>
		</div>
    <br>
		<h4>Results: </h4>
		<form action="/dice" method="GET">
		<div class="card w-50">
			<div class="card-body rounded" style="background-color:#ddd; color:black;">
				{% if lost %}
				<span class="text-danger"><b>You lost: </b>${{amount}}</span><br>
				{% else %}
				<span style="color:green"><b>You earned: </b>${{amount}}</span><br>
				{% endif %}
				<img src="http://roll.diceapi.com/images/poorly-drawn/d6/{{dice[0]}}.png" class="w-25">
				<img src="http://roll.diceapi.com/images/poorly-drawn/d6/{{dice[1]}}.png" class="w-25">
				<img src="http://roll.diceapi.com/images/poorly-drawn/d6/{{dice[2]}}.png" class="w-25">
			</div>
		</div>
		<br>
		<button type="submit" class="btn btn-lg" style="background-color:#f84854">Make New Bet</button>
		</form>
		{% endif %}
</div>
{% endblock %}
