{% extends "_base.html" %}

{% block title %}
	Games
{% endblock %}

{% block body %}
<div class="bg">
  <br>
	<img src="../static/label.png" width="225px">
</div>
<br>
<h1>Games</h1>
<br><br>
<div class="row w-75">
	<div class="col">
		<figure class="figure">
			<img src="https://images.theconversation.com/files/75985/original/image-20150325-14532-fv0zpy.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip" style="width:250px; height:230px"><br>
			<br>
		  <figcaption class="figure-caption" style="color:white">
				<h5 style="color:#f84854;">Texas Hold'em</h5>
				<p>{{ texas }}</p>

			</figcaption>
		</figure>
	</div>
	<div class="col">
		<figure class="figure">
			<img src="https://compote.slate.com/images/2c9cc147-a8fc-4249-bcad-fe788f5b8d8c.jpg" style="width:250px; height:230px"><br>
			<br>
			<figcaption class="figure-caption" style="color:white">
				<h5 style="color:#f84854;">Blackjack</h5>
				<p>{{ blackjack }}</p>
			</figcaption>
		</figure>
	</div>
	<div class="col">
		<figure class="figure">
			<img src="https://livedemo00.template-help.com/wt_52652/images/gallery1/full/Depositphotos_1762984_original.jpg" style="width:250px; height:230px"><br>
			<br>
			<figcaption class="figure-caption" style="color:white">
				<h5 style="color:#f84854;">Roulette</h5>
				<p>{{ roulette }}</p>
			</figcaption>
		</figure>
	</div>
</div>
<br><br>
<div class="row w-75">
	<div class="col">
		<figure class="figure">
			<a href="/slotmachine"><img src="https://livedemo00.template-help.com/wt_52652/images/gallery1/full/Depositphotos_6032223_original.jpg" style="width:250px; height:230px"></a><br>
			<br>
			<figcaption class="figure-caption" style="color:white">
				<h5 style="color:#f84854;">Slot Machine</h5>
				<p>{{ slots }}</p>
			</figcaption>
		</figure>
	</div>
	<div class="col">
		<figure class="figure">
		  <img src="https://regmedia.co.uk/2017/01/13/poker.jpg?x=442&y=293&crop=1" style="width:250px; height:230px"><br>
			<br>
			<figcaption class="figure-caption" style="color:white">
				<h5 style="color:#f84854;">Chinese Poker</h5>
				<p>{{ poker }}</p>
			</figcaption>
		</figure>
	</div>
	<div class="col">
		<figure class="figure">
			<a href="dice">
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo_BdzgQb0KiBDfSQa7GrcHYjgcGaLar1R-Qqh95X_wBRmGLzv&s" style="width:250px; height:230px">
			</a>
			<br>
			<br>
			<figcaption class="figure-caption" style="color:white">
				<h5 style="color:#f84854;">Dice Game</h5>
				<p>{{ dice }}</p>
			</figcaption>
		</figure>
	</div>
</div>
<br><br>
{% endblock %}
