{% extends "_base.html" %}

{% block title %}
	Games
{% endblock %}

{% block body %}
<div class="bg">
  <br>
	<img src="../static/label.png" width="225px">
</div>
<br>
<h1>Games</h1>
<br><br>
<div class="row w-75">
	<div class="col">
		<figure class="figure">
			<img src="https://images.theconversation.com/files/75985/original/image-20150325-14532-fv0zpy.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip" style="width:250px; height:230px"><br>
			<br>
		  <figcaption class="figure-caption" style="color:white">
				<h5 style="color:#f84854;">Texas Hold'em</h5>
				<button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" style = "background-color:#f84854;">
					An Introduction to Texas Hold'em
				</button>
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title text-info" id="exampleModalLabel" style = "font-size: 25px;">An Introduction to Texas Hold'em</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body" style = "font-size: 18px;">
								{{ texas }}
								<br>
							</div>
							<div class = "modal-footer">
								<h5>Instructions for Texas Hold'em can be found on the Texas Hold'em game page.</h5>
							</div>
						</div>
					</div>
				</div>
			</figcaption>
		</figure>
	</div>
	<div class="col">
		<figure class="figure">
			<img src="https://compote.slate.com/images/2c9cc147-a8fc-4249-bcad-fe788f5b8d8c.jpg" style="width:250px; height:230px"><br>
			<br>
			<figcaption class="figure-caption" style="color:white">
				<h5 style="color:#f84854;">Blackjack</h5>
				<button type="button" class="btn" data-toggle="modal" data-target="#exampleModal2" style = "background-color:#f84854;">
					An Introduction to Blackjack
				</button>
				<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title text-info" id="exampleModalLabel" style = "font-size: 25px;">An Introduction to Blackjack</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body" style = "font-size: 18px;">
								{{ blackjack }}
								<br><br>
								<div class = "modal-footer">
									<h5>Instructions for Blackjack can be found on the Blackjack game page.</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</figcaption>
		</figure>
	</div>
	<div class="col">
		<figure class="figure">
			<a href="/roulette"><img src="https://livedemo00.template-help.com/wt_52652/images/gallery1/full/Depositphotos_1762984_original.jpg" style="width:250px; height:230px"></a><br>
			<br>
			<figcaption class="figure-caption" style="color:white">
				<h5 style="color:#f84854;">Roulette</h5>
				<button type="button" class="btn" data-toggle="modal" data-target="#exampleModal3" style = "background-color:#f84854;">
					An Introduction to Roulette
				</button>
				<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title text-info" id="exampleModalLabel" style = "font-size: 25px;">An Introduction to Roulette</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body" style = "font-size: 18px;">
								{{ roulette }}
								<br><br>
								<div class = "modal-footer">
									<h5>Instructions for Roulette can be found on the Roulette game page.</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</figcaption>
		</figure>
	</div>
</div>
<br><br>
<div class="row w-75">
	<div class="col">
		<figure class="figure">
			<a href="/slotmachine"><img src="https://livedemo00.template-help.com/wt_52652/images/gallery1/full/Depositphotos_6032223_original.jpg" style="width:250px; height:230px"></a><br>
			<br>
			<figcaption class="figure-caption" style="color:white">
				<h5 style="color:#f84854;">Slot Machine</h5>
				<button type="button" class="btn" data-toggle="modal" data-target="#exampleModal4" style = "background-color:#f84854;">
					An Introduction to Slot Machine
				</button>
				<div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title text-info" id="exampleModalLabel" style = "font-size: 25px;">An Introduction to Slot Machine</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body" style = "font-size: 18px;">
								{{ slots }}
								<br><br>
								<div class = "modal-footer">
									<h5>Instructions for Slot Machine can be found on the slots game page.</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</figcaption>
		</figure>
	</div>
	<div class="col">
		<figure class="figure">
		  <img src="https://regmedia.co.uk/2017/01/13/poker.jpg?x=442&y=293&crop=1" style="width:250px; height:230px"><br>
			<br>
			<figcaption class="figure-caption" style="color:white">
				<h5 style="color:#f84854;">Chinese Poker</h5>
				<button type="button" class="btn" data-toggle="modal" data-target="#exampleModal5" style = "background-color:#f84854;">
					An Introduction to Chinese Poker
				</button>
				<div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title text-info" id="exampleModalLabel" style = "font-size: 25px;">An Introduction to Chinese Poker</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body" style = "font-size: 18px;">
								{{ poker }}
								<br><br>
								<div class = "modal-footer">
									<h5>Instructions for Chinese Poker can be found on the poker game page.</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</figcaption>
		</figure>
	</div>
	<div class="col">
		<figure class="figure">
			<a href="dice">
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo_BdzgQb0KiBDfSQa7GrcHYjgcGaLar1R-Qqh95X_wBRmGLzv&s" style="width:250px; height:230px">
			</a>
			<br>
			<br>
			<figcaption class="figure-caption" style="color:white">
				<h5 style="color:#f84854;">Dice Game</h5>
				<button type="button" class="btn" data-toggle="modal" data-target="#exampleModal6" style = "background-color:#f84854;">
					An Introduction to Dice or "Sic Bo"
				</button>
				<div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title text-info" id="exampleModalLabel" style = "font-size: 25px;">An Introduction to Dice or "Sic Bo"</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body" style = "font-size: 18px;">
								{{ dice }}
								<br><br>
								<div class = "modal-footer">
									<h5>Instructions for Sic Bo can be found on the dice game page.</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</figcaption>
		</figure>
	</div>
</div>
<br><br>
{% endblock %}
