{% extends "_base.html" %}
{% block title %}
 Sractch Ticket
{% endblock %}

{% block body %}

<h1> Scratch Ticket </h1>
<h4 class="text-success">Your Money: ${{ usermoney }}</h4><br>
<div class = "row">
  <div class="container-fluid" style = "position: relative; right: 750px; height: 650px;">
    <image class = "img-responsive" id="images" src="../static/scratch.jpg">
    <canvas id="canvas"></canvas>
    {% for i in index %}
    <image class="numbers" style="top:{{ypos[i]}};right:{{xpos[i]}};" src="../static/{{numbers[i]}}">
    {% endfor %}
    <br><br>
  </div>
  {% if not prizes %}
  <div class="card" id="rules" style="width: 18rem; margin-top: 50px;">
    <div class="card-body">
      <h5 class="card-title">Rules to Win!</h5>
      <p class="card-text">In order to win a prize, scratch the card. For each row, if the three numbers form a sequence
      (from left to right) that is a strictly increasing (1,1,2 for example doesn't count) sequence, you will win $10,000.
      If any row has three of the same numbers, you will get $100,000. Get Scratching!</p>
      <form action="/lottery?id={{id}}" method="POST">
        <button id="claim" type="submit" class="btn" style="background-color:#f84854; display:none">Claim Prize!</button>
      </form>
    </div>
  </div>
  <div>
    <button id="clear" type="button" name="button" class= "btn" style="background-color:#f84854;">Scratch All</button>
  </div>
  {% endif %}
</div>
<script type="text/javascript">
var url = '../static/lotto.jpg';
var canvas = document.getElementById('canvas');
var ctx = canvas.getContext('2d');
var img = new Image();
img.src = url;
{% if not prizes %}
img.onload = function () {
  var width = Math.min(500, img.width);
  var height = img.height * (width / img.width);

  canvas.width = width;
  canvas.height = height;
  ctx.drawImage(img, 0, 0, width, height);
};

var isPress = false;
var old = null;
canvas.addEventListener('mousedown', function (e){
  isPress = true;
  old = {x: e.offsetX, y: e.offsetY};
});
canvas.addEventListener('mousemove', function (e){
  if (isPress) {
    var x = e.offsetX;
    var y = e.offsetY;
    ctx.globalCompositeOperation = 'destination-out';

    ctx.beginPath();
    ctx.arc(x, y, 10, 0, 2 * Math.PI);
    ctx.fill();

    ctx.lineWidth = 20;
    ctx.beginPath();
    ctx.moveTo(old.x, old.y);
    ctx.lineTo(x, y);
    ctx.stroke();

    old = {x: x, y: y};

  }
});
canvas.addEventListener('mouseup', function (e){
  isPress = false;
});
var button=document.getElementById("clear")
button.addEventListener("click", function(e){
  ctx.clearRect(0,0,canvas.width,canvas.height);
  document.getElementById("claim").style.display = 'block';
});
{% endif %}
</script>

{% endblock %}
