{% extends "_base.html" %}

{% block title %}
	Roulette
{% endblock %}

{% block body %}
<h1>Roulette</h1>
<div class="w-100 p-3">
  <h4 class="text-success">Your Money: ${{ money }}</h4>
  {% if betting %}
  <form action="/roulette" method="POST">
    <div class="form-group">
      <label for="bet">Please place a bet that is at least $100:</label>
      <input name="bet" type="number" class="form-control w-25"  min="100" id="bet" value=100>
    </div><br>
		<div class="form-check" style="width:85%;" id="options">
			<h4>Betting Options</h4><br>
      <div class="row">
        {% for key, value in one %}
        <div class="col" style="padding:0">
						<div class="card border-white rounded-0">
							<div class="card-body" style="margin:0; background-color:{{value}};">
								<input type="checkbox" name="{{key}}" id="{{key}}">
								<label class="checklabel" for="{{key}}">{{key}}</label>
							</div>
						</div>
        </div>
        {% endfor %}
      </div>
			<div class="row">
        {% for key, value in two %}
        <div class="col" style="padding:0">
						<div class="card border-white rounded-0">
							<div class="card-body" style="margin:0; background-color:{{value}};">
								<input type="checkbox" name="{{key}}" id="{{key}}">
								<label class="checklabel" for="{{key}}">{{key}}</label>
							</div>
						</div>
        </div>
        {% endfor %}
      </div>
			<div class="row">
        {% for key, value in three %}
        <div class="col" style="padding:0">
						<div class="card border-white rounded-0">
							<div class="card-body" style="margin:0; background-color:{{value}};">
								<input type="checkbox" name="{{key}}" id="{{key}}">
								<label class="checklabel" for="{{key}}">{{key}}</label>
							</div>
						</div>
        </div>
        {% endfor %}
      </div>
			<div class="row">
				<div class="col" style="padding:0">
					<div class="card border-white rounded-0">
						<div class="card-body" style="margin:0; background-color:#013220">
							<input type="checkbox" name="1st12" id="1st12">
							<label class="checklabel" for="1st12"><h4 class="px-4">1st 12</h4></label>
						</div>
					</div>
				</div>
				<div class="col" style="padding:0">
					<div class="card border-white rounded-0">
						<div class="card-body" style="margin:0; background-color:#013220">
							<input type="checkbox" name="2nd12" id="2nd12">
							<label class="checklabel" for="2nd12"><h4 class="px-4">2nd 12</h4></label>
						</div>
					</div>
				</div>
				<div class="col" style="padding:0">
					<div class="card border-white rounded-0">
						<div class="card-body" style="margin:0; background-color:#013220">
							<input type="checkbox" name="3rd12" id="3rd12">
							<label class="checklabel" for="3rd12"><h4 class="px-4">3rd 12</h4></label>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col" style="padding:0">
					<div class="card border-white rounded-0">
						<div class="card-body" style="margin:0; background-color:#013220">
							<input type="checkbox" name="1to18" id="1to18">
							<label class="checklabel" for="1t018"><h6 class="px-2">1 to 18</h6></label>
						</div>
					</div>
				</div>
				<div class="col" style="padding:0">
					<div class="card border-white rounded-0">
						<div class="card-body" style="margin:0; background-color:#013220">
							<input type="checkbox" name="even" id="even">
							<label class="checklabel" for="even"><h6 class="px-2">Even</h6></label>
						</div>
					</div>
				</div>
				<div class="col" style="padding:0">
					<div class="card border-white rounded-0">
						<div class="card-body" style="margin:0; background-color:red">
							<input type="checkbox" name="red" id="red">
							<label class="checklabel" for="red"><h6 class="px-2">Red</h6></label>
						</div>
					</div>
				</div>
				<div class="col" style="padding:0">
					<div class="card border-white rounded-0">
						<div class="card-body" style="margin:0; background-color:black">
							<input type="checkbox" name="black" id="black">
							<label class="checklabel" for="black"><h6 class="px-2">Black</h6></label>
						</div>
					</div>
				</div>
				<div class="col" style="padding:0">
					<div class="card border-white rounded-0">
						<div class="card-body" style="margin:0; background-color:#013220">
							<input type="checkbox" name="odd" id="odd">
							<label class="checklabel" for="odd"><h6 class="px-2">Odd</h6></label>
						</div>
					</div>
				</div>
				<div class="col" style="padding:0">
					<div class="card border-white rounded-0">
						<div class="card-body" style="margin:0; background-color:#013220">
							<input type="checkbox" name="19to36" id="19to36">
							<label class="checklabel" for="19to36"><h6 class="px-2">19 to 36</h6></label>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class='col-4' style="background-color:#111">
				</div>
				<div class="col-4" style="padding:0">
					<div class="card border-white rounded-0">
						<div class="card-body" style="margin:0; background-color:#013220">
							<input type="checkbox" name="0" id="0">
							<label class="checklabel" for="0"><h4 class="px-2">0</h4></label>
						</div>
					</div>
				</div>
				<div class='col-4' style="background-color:#111">
				</div>
			</div>
		</div>
		<br><br>
		<button type="submit" class="btn btn-lg" style="background-color:#f84854">Place Bet</button>
  </form>
  {% else %}

  {% endif %}
</div>
{% endblock %}
