{% extends "_base.html" %}

{% block title %}
	Roulette
{% endblock %}

{% block body %}
<h1>Roulette
	<button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" style = "margin-left: 10px; background-color:#f84854;">
		Info
	</button>
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel" style = "font-size: 25px; color: #f84854;">Instructions for Roulette</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" style = "font-size: 18px;">
					<h4 class = "text-info">The Basic Rules of Playing Roulette</h4>
					Roulette starts with players making bets.
					The croupier (or dealer) throws a ball into the spinning roulette wheel. Players can still makes bets within the process.
					While the ball is rolling at the roulette wheel, the croupier/dealer announces: "No more bets."
					At that point players are not allowed making bets
					The ball lands on a number in the roulette wheel. If there are winners who bet the number, section or color, they will be rewarded according of their betting odds.
					<hr>
					<h4 class = "text-info">Types of Roulette Bets</h4>
					The players buy in for chips (or bring chips to the table), then place their bets on any number or propositions:<br>
					<ol>
					  <li>Inside bets are placed directly on one or more numbers.</li>
					  <li>Outside bets are placed on certain propositions such as high-low, odd-even, red-black, first, second and third dozen, etc.</li>
					  <li>There are other combinations of bets that can also be made.</li>
					</ol>
					<br>
					<div class = "modal-footer">
						<h5>For a more comprehensive guide to Roulette and its betting combinations, you can visit <a href = "https://www.888casino.com/blog/roulette-strategy-guide/how-to-play-roulette" target="_blank">this website</a> where these instructions are from.</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</h1>
<div class="w-100 p-3">
  <h4 class="text-success">Your Money: ${{ money }}</h4>
  {% if betting %}
  <form action="/roulette" method="POST">
    <div class="form-group">
      <label for="bet">Please place a bet that is at least $100:</label>
      <input name="bet" type="number" class="form-control w-25"  min=100 id="bet" value=100>
    </div><br>
		<div class="form-check" style="width:85%;" id="options">
			<h4>Betting Options</h4><br>
      <div class="row">
        {% for key, value in one %}
        <div class="col" style="padding:0">
						<div class="card border-white rounded-0">
							<div class="card-body" style="margin:0; background-color:{{value}};">
								<input class="form-check-input" type="checkbox" id="{{key}}" name="options" value="single{{key}}">
								<label class="form-check-label" for="{{key}}">{{key}}</label>
							</div>
						</div>
        </div>
        {% endfor %}
      </div>
			<div class="row">
        {% for key, value in two %}
        <div class="col" style="padding:0">
						<div class="card border-white rounded-0">
							<div class="card-body" style="margin:0; background-color:{{value}};">
								<input class="form-check-input" type="checkbox"  id="{{key}}" name="options" value="single{{key}}">
								<label class="form-check-label" for="{{key}}">{{key}}</label>
							</div>
						</div>
        </div>
        {% endfor %}
      </div>
			<div class="row">
        {% for key, value in three %}
        <div class="col" style="padding:0">
						<div class="card border-white rounded-0">
							<div class="card-body" style="margin:0; background-color:{{value}};">
								<input class="form-check-input" type="checkbox"  id="{{key}}" name="options" value="single{{key}}">
								<label class="form-check-label" for="{{key}}">{{key}}</label>
							</div>
						</div>
        </div>
        {% endfor %}
      </div>
			<div class="row">
				<div class="col" style="padding:0">
					<div class="card border-white rounded-0">
						<div class="card-body" style="margin:0; background-color:#013220">
							<input class="form-check-input" type="checkbox" id="1st12" name="options" value="dozen1">
							<label class="form-check-label" for="1st12"><h4 class="px-4">1st 12</h4></label>
						</div>
					</div>
				</div>
				<div class="col" style="padding:0">
					<div class="card border-white rounded-0">
						<div class="card-body" style="margin:0; background-color:#013220">
							<input class="form-check-input" type="checkbox" id="2nd12" name="options" value="dozen2">
							<label class="form-check-label" for="2nd12"><h4 class="px-4">2nd 12</h4></label>
						</div>
					</div>
				</div>
				<div class="col" style="padding:0">
					<div class="card border-white rounded-0">
						<div class="card-body" style="margin:0; background-color:#013220">
							<input class="form-check-input" type="checkbox" id="3rd12" name="options" value="dozen3">
							<label class="form-check-label" for="3rd12"><h4 class="px-4">3rd 12</h4></label>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col" style="padding:0">
					<div class="card border-white rounded-0">
						<div class="card-body" style="margin:0; background-color:#013220">
							<input class="form-check-input" type="checkbox" id="1to18" name="options" value="1to18">
							<label class="form-check-label" for="1t018"><h6 class="px-2">1 to 18</h6></label>
						</div>
					</div>
				</div>
				<div class="col" style="padding:0">
					<div class="card border-white rounded-0">
						<div class="card-body" style="margin:0; background-color:#013220">
							<input class="form-check-input" type="checkbox" id="even" name="options" value="even">
							<label class="form-check-label" for="even"><h6 class="px-2">Even</h6></label>
						</div>
					</div>
				</div>
				<div class="col" style="padding:0">
					<div class="card border-white rounded-0">
						<div class="card-body" style="margin:0; background-color:red">
							<input class="form-check-input" type="checkbox" id="red" name="options" value="red">
							<label class="form-check-label" for="red"><h6 class="px-2">Red</h6></label>
						</div>
					</div>
				</div>
				<div class="col" style="padding:0">
					<div class="card border-white rounded-0">
						<div class="card-body" style="margin:0; background-color:black">
							<input class="form-check-input" type="checkbox" id="black" name="options" value="black">
							<label class="form-check-label" for="black"><h6 class="px-2">Black</h6></label>
						</div>
					</div>
				</div>
				<div class="col" style="padding:0">
					<div class="card border-white rounded-0">
						<div class="card-body" style="margin:0; background-color:#013220">
							<input class="form-check-input" type="checkbox" id="odd" name="options" value="odd">
							<label class="form-check-label" for="odd"><h6 class="px-2">Odd</h6></label>
						</div>
					</div>
				</div>
				<div class="col" style="padding:0">
					<div class="card border-white rounded-0">
						<div class="card-body" style="margin:0; background-color:#013220">
							<input class="form-check-input" type="checkbox" id="19to36" name="options" value="19to36">
							<label class="form-check-label" for="19to36"><h6 class="px-2">19 to 36</h6></label>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class='col-4' style="background-color:#111">
				</div>
				<div class="col-4" style="padding:0">
					<div class="card border-white rounded-0">
						<div class="card-body" style="margin:0; background-color:#013220">
							<input class="form-check-input" type="checkbox" id="0" name="options" value="single0">
							<label class="form-check-label" for="0"><h4 class="px-2">0</h4></label>
						</div>
					</div>
				</div>
				<div class='col-4' style="background-color:#111">
				</div>
			</div>
		</div>
		<br><br>
		<button type="submit" class="btn btn-lg" style="background-color:#f84854">Place Bet</button>
  </form>
  {% else %}
	<div class="card w-50">
		<div class="card-body rounded" style="background-color:#ddd; color:black;">
			<h4>Betting Selection</h4>
			<p><small>Refresh to spin again with the exact same betting selection.</small></p>
			<b>You bet:</b> ${{ bet }} <br>
			<b>You selected:</b>
			{% for option in options %}
				<br>{{ option }}
			{% endfor %}
		</div>
	</div>
	<br>
	<h4>Results: </h4>
	<form action="/roulette" method="GET">
	<div class="card w-50">
		<div class="card-body rounded" style="background-color:#ddd; color:black;">
			{% if lost %}
			<span class="text-danger"><b>You lost: </b>${{amount}}</span><br>
			{% else %}
			<span style="color:green"><b>You earned: </b>${{amount}}</span><br>
			{% endif %}
			<h1 style="color:{{color}}">{{result}}</h1>
		</div>
	</div>
	<br>
	<button type="submit" class="btn btn-lg" style="background-color:#f84854">Make New Bet</button>
	</form>
  {% endif %}
</div>
{% endblock %}
