{% extends "_base.html" %}

{% block title %}
Slot Machine
{% endblock %}

{% block style %}
/* first image */

@keyframes one {
  0% {
    opacity: 1;
  }
  16.666% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  83.333% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes one {
  0% {
    opacity: 1;
  }
  16.666% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  83.333% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes one {
  0% {
    opacity: 1;
  }
  16.666% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  83.333% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* second image  */

@keyframes two {
  0% {
    opacity: 0;
  }
  16.666% {
    opacity: 1;
  }
  33.333% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  83.333% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes two {
  0% {
    opacity: 0;
  }
  16.666% {
    opacity: 1;
  }
  33.333% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  83.333% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes two {
  0% {
    opacity: 0;
  }
  16.666% {
    opacity: 1;
  }
  33.333% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  83.333% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes two {
  0% {
    opacity: 0;
  }
  16.666% {
    opacity: 1;
  }
  33.333% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  83.333% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* third image */

@keyframes three {
  0% {
    opacity: 0;
  }
  16.666% {
    opacity: 0;
  }
  33.333% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  83.333% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes three {
  0% {
    opacity: 0;
  }
  16.666% {
    opacity: 0;
  }
  33.333% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  83.333% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes three {
  0% {
    opacity: 0;
  }
  16.666% {
    opacity: 0;
  }
  33.333% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  83.333% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes three {
  0% {
    opacity: 0;
  }
  16.666% {
    opacity: 0;
  }
  33.333% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  83.333% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* fourth image */

@keyframes four {
  0% {
    opacity: 0;
  }
  16.666% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  66.666% {
    opacity: 0;
  }
  83.333% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes four {
  0% {
    opacity: 0;
  }
  16.666% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  66.666% {
    opacity: 0;
  }
  83.333% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes four {
  0% {
    opacity: 0;
  }
  16.666% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  66.666% {
    opacity: 0;
  }
  83.333% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes four {
  0% {
    opacity: 0;
  }
  16.666% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  66.666% {
    opacity: 0;
  }
  83.333% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* fifth image */

@keyframes five {
  0% {
    opacity: 0;
  }
  16.666% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  66.666% {
    opacity: 1;
  }
  83.333% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes five {
  0% {
    opacity: 0;
  }
  16.666% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  66.666% {
    opacity: 1;
  }
  83.333% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes five {
  0% {
    opacity: 0;
  }
  16.666% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  66.666% {
    opacity: 1;
  }
  83.333% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes five {
  0% {
    opacity: 0;
  }
  16.666% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  66.666% {
    opacity: 1;
  }
  83.333% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* sixth image */

@keyframes six {
  0% {
    opacity: 0;
  }
  16.666% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  83.333% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes six {
  0% {
    opacity: 0;
  }
  16.666% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  83.333% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes six {
  0% {
    opacity: 0;
  }
  16.666% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  83.333% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes six {
  0% {
    opacity: 0;
  }
  16.666% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  83.333% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* seventh image */

@keyframes seven {
  0% {
    opacity: 0;
  }
  16.666% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  83.333% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes seven {
  0% {
    opacity: 0;
  }
  16.666% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  83.333% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes seven {
  0% {
    opacity: 0;
  }
  16.666% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  83.333% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes seven {
  0% {
    opacity: 0;
  }
  16.666% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  83.333% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#fadein {
  position:relative;
}
#fadein img {
  position:absolute;
  left:0;
}

#fadein img:nth-of-type(1) {
  animation-name: one;
  animation-duration: 1s;

  -webkit-animation-name: one;
  -webkit-animation-duration: 1s;

  -moz-animation-name: one;
  -moz-animation-duration: 1s;

  -o-animation-name: one;
  -o-animation-duration: 1s;
}
#fadein img:nth-of-type(2) {
  animation-name: two;
  animation-duration: 1s;

  -webkit-animation-name: two;
  -webkit-animation-duration: 1s;

  -moz-animation-name: two;
  -moz-animation-duration: 1s;

  -o-animation-name: two;
  -o-animation-duration: 1s;
}
#fadein img:nth-of-type(3) {
  animation-name: three;
  animation-duration: 1s;

  -webkit-animation-name: three;
  -webkit-animation-duration: 1s;

  -moz-animation-name: three;
  -moz-animation-duration: 1s;

  -o-animation-name: three;
  -o-animation-duration: 1s;
}
#fadein img:nth-of-type(4) {
  animation-name: four;
  animation-duration: 1s;

  -webkit-animation-name: four;
  -webkit-animation-duration: 1s;

  -moz-animation-name: four;
  -moz-animation-duration: 1s;

  -o-animation-name: four;
  -o-animation-duration: 1s;
}
#fadein img:nth-of-type(5) {
  animation-name: five;
  animation-duration: 1s;

  -webkit-animation-name: five;
  -webkit-animation-duration: 1s;

  -moz-animation-name: five;
  -moz-animation-duration: 1s;

  -o-animation-name: five;
  -o-animation-duration: 1s;
}
#fadein img:nth-of-type(6) {
  animation-name: six;
  animation-duration: 1s;

  -webkit-animation-name: six;
  -webkit-animation-duration: 1s;

  -moz-animation-name: six;
  -moz-animation-duration: 1s;

  -o-animation-name: six;
  -o-animation-duration: 1s;
}
#fadein img:nth-of-type(7) {
  animation-name: seven;
  animation-duration: 1s;

  -webkit-animation-name: seven;
  -webkit-animation-duration: 1s;

  -moz-animation-name: seven;
  -moz-animation-duration: 1s;

  -o-animation-name: seven;
  -o-animation-duration: 1s;
}

{% endblock %}

{% block body %}

<h1> Slot Machine <!-- courtesy of https://getbootstrap.com/docs/4.0/components/modal/ -->
  <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" style = "margin-left: 10px; background-color:#f84854;">
    Info
  </button>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style = "font-size: 25px; color: #f84854;">Instructions for Slot Machine</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style = "font-size: 22px;">
          Getting three in a row gives you a win!<br><br>
          Lemon: 1x your bet<br>
          Cherry: 2x your bet<br>
          Clover: 3x your bet<br>
          Heart: 4x your bet<br>
          Diamond: 5x your bet<br>
          Dollars: 6x your bet<br>
          <br>
        </div>
      </div>
    </div>
  </div>
</h1>

<br>
<h4 class="text-success">Your Money: ${{ usermoney }}</h4>
<form action = "/slotmachine" method = "GET">
  <label for="slotbet">Please place a bet (integer) that is at least $100:</label>
  <input name="slotbet" type="number" class="form-control w-25" id="slotbet" value = "{{ primarybet }}"><br>
  <button type="submit" class="btn" style="background-color:#f84854;" data-toggle = "tooltip" data-placement = "right" title = "Refresh or press 'Let's Go!' to roll again."> Let's Go! </button>
</form>
<br>


<div class = "container-fluid">
  <div class = "row w-75">
    <div class = "text-center col-md-4" id = "bord" style = "height: 315px;">
      <div class = "mr-0.5">
        {% if check == "true" %}
          <div id = "fadein" style = "height: 315px; width: 315px; border: 10px solid {{ colour }}; background-color: #ddd;">
            <img id = "top" class="img-fluid" alt="Responsive image" style = "position: absolute; opacity: 0;" src = "{{ images[0] }}">
            <img id = "top" class="img-fluid" alt="Responsive image" style = "position: absolute; opacity: 0;" src = "{{ images[1] }}">
            <img id = "top" class="img-fluid" alt="Responsive image" style = "position: absolute; opacity: 0;" src = "{{ images[2] }}">
            <img id = "top" class="img-fluid" alt="Responsive image" style = "position: absolute; opacity: 0;" src = "{{ images[3] }}">
            <img id = "top" class="img-fluid" alt="Responsive image" style = "position: absolute; opacity: 0;" src = "{{ images[4] }}">
            <img id = "top" class="img-fluid" alt="Responsive image" style = "position: absolute; opacity: 0;" src = "{{ images[5] }}">
            <img id = "last" src = "{{ image1 }}" class="img-fluid" alt="Responsive image">
          </div>
        {% else %}
          <img id = "none" src = "{{ image1 }}" style = "border: 10px solid #FFD700; background-color: #ddd;" class="img-fluid" alt="Responsive image">
        {% endif %}
      </div>
    </div>
    <div class = "text-center col-md-4" id = "bord" style = "height: 315px;">
      <div class = "mr-0.5">
        {% if check == "true" %}
          <div id = "fadein" style = "height: 315px; width: 315px; border: 10px solid {{ colour }}; background-color: #ddd;">
            <img id = "top" class="img-fluid" alt="Responsive image" style = "position: absolute; opacity: 0;" src = "{{ images[2] }}">
            <img id = "top" class="img-fluid" alt="Responsive image" style = "position: absolute; opacity: 0;" src = "{{ images[0] }}">
            <img id = "top" class="img-fluid" alt="Responsive image" style = "position: absolute; opacity: 0;" src = "{{ images[1] }}">
            <img id = "top" class="img-fluid" alt="Responsive image" style = "position: absolute; opacity: 0;" src = "{{ images[3] }}">
            <img id = "top" class="img-fluid" alt="Responsive image" style = "position: absolute; opacity: 0;" src = "{{ images[5] }}">
            <img id = "top" class="img-fluid" alt="Responsive image" style = "position: absolute; opacity: 0;" src = "{{ images[4] }}">
            <img id = "last" src = "{{ image2 }}" class="img-fluid" alt="Responsive image">
          </div>
        {% else %}
          <img id = "none" src = "{{ image2 }}" style = "border: 10px solid #FFD700; background-color: #ddd;" class="img-fluid" alt="Responsive image">
        {% endif %}
      </div>
    </div>
    <div class = "text-center col-md-4" id = "bord" style = "height: 315px;">
      <div class = "image">
        {% if check == "true" %}
          <div id = "fadein" style = "height: 315px; width: 315px; border: 10px solid {{ colour }}; background-color: #ddd;">
            <img id = "top" class="img-fluid" alt="Responsive image" style = "position: absolute; opacity: 0;" src = "{{ images[5] }}">
            <img id = "top" class="img-fluid" alt="Responsive image" style = "position: absolute; opacity: 0;" src = "{{ images[3] }}">
            <img id = "top" class="img-fluid" alt="Responsive image" style = "position: absolute; opacity: 0;" src = "{{ images[4] }}">
            <img id = "top" class="img-fluid" alt="Responsive image" style = "position: absolute; opacity: 0;" src = "{{ images[0] }}">
            <img id = "top" class="img-fluid" alt="Responsive image" style = "position: absolute; opacity: 0;" src = "{{ images[2] }}">
            <img id = "top" class="img-fluid" alt="Responsive image" style = "position: absolute; opacity: 0;" src = "{{ images[1] }}">
            <img id = "last" src = "{{ image3 }}" class="img-fluid" alt="Responsive image">
          </div>
        {% else %}
          <img id = "none" src = "{{ image3 }}" style = "border: 10px solid #FFD700; background-color: #ddd;" class="img-fluid" alt="Responsive image">
        {% endif %}
      </div>
    </div>
  </div>
  <br><br>

<h4>Results: </h4>
<div class = "row justify-content-center">
  <div class = "card" style = "width: 30rem; height: 8rem; background-color: #ddd; color:black; position: relative;">
    <div class = "card-body rounded">
      <b>You bet:</b> ${{ bet }} <br>
      {% if bet == 0 %}
        <b>You earned: </b>${{ money }}<br><br>
      {% elif money == 0 %}
        <span class = "text-danger"><b>You earned: </b>${{ money }}</span><br><br>
      {% else %}
        <span style = "color: green;"<b>You earned: </b>${{ money }}</span><br><br>
      {% endif %}
      <p><small>Refresh or press 'Let's Go!' to roll again.</small></p>
    </div>
  </div>
</div>
<br>



{% endblock %}
