{% extends "_base.html" %}
{% block title %}
 Sractch Ticket
{% endblock %}
{% block body %}
<button id="spin" onclick="randomSpin({{speed}})">Spin</button>

<div>
  <image id="wheel" src="../static/wheel.png">
</div>
<script type="text/javascript">
  let degrees=0;
  let rot=0;
  let start=false;
  function rotations(speed,time) {
    let past=performance.now(), angle=degrees;
    function spin(){
      let now=performance.now();
      let t=(now-past)/time;
      if(t>1)t=1;
      degrees=angle+(t*speed-0.5*speed*t*t)*100;
      console.log(degrees);
      document.getElementById("wheel").style.transform ="rotate("+degrees+"deg)";
      if (t < 1) {
        requestAnimationFrame(spin);
      }else{
        running = false;
      };
    }
      requestAnimationFrame(spin);
      start=true;
    }

    function randomSpin(speed) {
        document.getElementById("wheel").style.transform ="rotate(-"+7.5+"deg)";
        if (!start) {
          console.log(speed);

          rotations(speed, 5000);
        };
        start=true;
    };
</script>

{% endblock %}
