.box {
  display: inline-block;
  -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 -o-user-select: none;
 user-select: none;
 position: relative;
 cursor: url("../gold.png") 0 18, auto;
}
#images{
  position: absolute;
  z-index: 1;
  top:0;
  right:0;
}

.numbers{
  position: absolute;
  z-index: 2;
  height:25px;
  width:25px;
}
#canvas {
  position: absolute;
  top: 0;
  right:0;
  background: transparent;
  z-index: 3;
  user-select:none;
}
#clear{
  position: absolute;
  top:600px;
  right:500px;
}

#rules{
  background-color: #FFFFFF;
  color: #808ECE;
  position:absolute;
  top:200px;
  right:400px;
}

#timecard{
    position: absolute;
    top:450px;
    right:490px;
}

#timecard{
    position: absolute;
    top:500px;
    right:490px;
    visibility: hidden;
      z-index: 4;
}

#wheel{
  transform: rotate(8deg);
  right:225px;
  position:absolute;
  z-index: 1;
}

#spin{
  position: absolute;
  top:500px;
  right:600px;
  font-size:24px;
  border-radius: 12px;
  z-index: 3;
}

#point{
  position:relative;
  top:200px;
  z-index: 2;
}
